[submodule "plugin"]
	path = plugin
	url = https://github.com/OrzMC/OrzMCPlugin.git
	branch = main
[submodule "webmc"]
	path = webmc
	url = https://github.com/OrzMC/OrzWebMC.git
	branch = main
[submodule "paper_plugins_config"]
	path = paper_plugins_config
	url = https://github.com/OrzMC/paper_plugins_config.git
	branch = main
[submodule "python"]
	path = python
	url = https://github.com/OrzMC/OrzPythonMC.git
	branch = main
[submodule "app"]
	path = app
	url = https://github.com/OrzMC/OrzMCApp.git
[submodule "site"]
	path = site
	url = https://github.com/OrzMC/OrzMCSite.git
[submodule "tools/OrzMCBackup"]
	path = tools/OrzMCBackup
	url = https://github.com/OrzMC/OrzMCBackup.git
[submodule "tools/rust-thanos"]
	path = tools/rust-thanos
	url = https://github.com/OrzMC/rust-thanos.git
[submodule "tools/thanos"]
	path = tools/thanos
	url = https://github.com/aternosorg/thanos.git
[submodule "tools/LoginSecurity"]
	path = tools/LoginSecurity
	url = https://github.com/OrzMC/LoginSecurity
[submodule "tools/GetMeHome"]
	path = tools/GetMeHome
	url = https://github.com/OrzMC/GetMeHome.git
[submodule "profile"]
	path = profile
	url = https://github.com/OrzMC/.github.git
[submodule "tools/DeathChest"]
	path = tools/DeathChest
	url = https://github.com/OrzMC/death-chest
[submodule "tools/EzShops"]
	path = tools/EzShops
	url = https://github.com/OrzMC/EzShops.git
	branch = main
[submodule "deploy"]
	path = deploy
	url = https://github.com/OrzMC/OrzMCDeploy.git
	branch = main
[submodule "proxy"]
	path = proxy
	url = https://github.com/OrzMC/OrzMCProxy.git
	branch = main
